{% extends "layout.html" %}
<!doctype html>
<html lang="en">

<head>

</head>

<body>

    {% block content %}
            <h1 class="heading">Welcome to the BIC's AAS App</h1>

            <div class="col-12">
                <img src="{{ url_for('static', filename='media/bic.jpg') }}" class="img-fluid mt-4 image-general" alt="BIC building">
            </div>
    
            <p class="h4">This app is a user interface for displaying the Asset Administration Shell for several assets inside the Fieldlab Flexible Manufacturing located at the Brainport Industries Campus.
                The Fieldlab is part of Brainport Industries Digital Factory.
    {% endblock %}


</body>

</html>